.Title {
  font-size: 50px;
  text-align: center;
  cursor: url(C:\Users\Nekur\my-app\public\cursor.png) 160 160, auto  ;
}
.App {
  
  background-color: #070707;
  color:  white;
  background-image: url(C:\Users\Nekur\my-app\public\space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Neon {
  background: white;
  width: 200px;
  height: 200px;
  position: fixed;
  opacity: 0.05;
  border-radius: 200px;
}
.Section1 {
  height: 100vh;
}
.Logo {
  width: 80px;
}
.div-logo {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding-left: 20px;
  cursor: pointer;
}
.about-sentence-group {
  position: absolute;
  top: 10%;
  left: 13%;
  max-width: 400px;
  width: 30%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(6px);
  z-index: 10;
}
@media (max-width: 905px) {
  .about-title {
    font-size: 20px;
  }
  .about-sentence {
    font-size: 15px;
  }
  .Top-tag-group {
    font-size: 2px;
  }
  .Top-tag0 {
    font-size: 25px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 45px !important;
  }
  .skills-title {
    font-size: 18px !important;
  }
}
@media (max-width: 680px) {
   .about-title {
    font-size: 15px!important;
  }
  .about-sentence {
    font-size: 10px;
  }
  .Top-tag-group {
    font-size: 2px;
  }
  .Top-tag0 {
    font-size: 20px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 30px !important;
  }
  .buttom-img-github {
    width: 35px;
  }
  .skills-img {
    width: 30px;
  }
  .Logo {
    width: 50px;
  }
  .skills-group {
    left: 55% !important;
  }
}
@media(max-width: 440px){
  .Top-tag0 {
    font-size: 10px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 20px !important;
  }
  .skills-group {
    left: 57% !important;
  }
  .about-title {
    font-size: 12px !important;
  }
  .about-sentence {
    font-size: 7px;
  }
  .canvas {
    width: 10%;
  }
  .skills-title {
  font-size: 15px !important;
}
}
@media (max-width: 340px) {
   .Top-tag0 {
    font-size: 7px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 17px !important;
  }
}
.about-title {
  font-size: 30px;
  font-weight:700;
}
.about-sentence {
  padding-top: 15px;
}
.skills-group {
  width: 10%;
  background: rgba(101, 101, 101, 0.5);
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius: 18px;
  z-index: 10;
  text-align: center;
  padding: 5px;
}
.skills-title {
  font-size: 30px;
  font-weight: 700;
}
.skills-ul {
  list-style: none;
  padding-left: 0;
}
.skills-units:hover {
  
}
.Top-tag-group{
  text-align: right;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 8%;
  top: 10%;
}
.Top-tag0{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
}
.Top-tag1{
  font-size: 70px;
  font-weight: bolder;
  cursor: pointer;
  
}
.Top-tag2{
  font-size: 70px;
  font-weight: bolder;
  cursor: pointer;
  
}
.Top-tag3{
  font-size: 70px;
  font-weight: bolder;
  cursor: pointer;
}
.Top-tag0:hover, .Top-tag1:hover, .Top-tag2:hover, .Top-tag3:hover {
  color: rebeccapurple;
}
.buttom {
  position: absolute;
  top: 90%;
  left: 90%;
  cursor: pointer;
  z-index: 2;
}
.Body-title1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.About {
  background-color: rgb(123, 188, 188);
  color: #070707;
  border-radius: 20px;
  padding: 10px;
  
}
.Project {
  
  margin-top: 150px;
  background-color:rgb(83, 80, 77);
  height: 700px;
}
.Body-title2 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.canvas {
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.background {
  background-color: rgb(171, 122, 122);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.Loading-bar {
  font-size: 100px;
  text-align: center;
  align-items: center;
}