@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
.Title {
  font-size: 50px;
  text-align: center;
  cursor: url() 160 160, auto  ;
}

.App {
  
  background-color: #070707;
  color:  white;
  background-image: url('../public/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Neon {
  background: white;
  width: 200px;
  height: 200px;
  position: fixed;
  opacity: 0.05;
  border-radius: 200px;
}
.Section1 {
  height: 100vh;
}
.Logo {
  width: 80px;
  transition: 0.4s;
}
.Logo:hover {
  transform: rotate(720deg);
}
.div-logo {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding-left: 20px;
  cursor: pointer;
}
.me {
  background-image: url('../public/hello.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.hand {
  background-image: url('../public/waving-hand.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 70px;
  animation: hand 2s ease infinite;
}
.about-sentence-group {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 70vw;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(4px);
  z-index: 10;
  max-height: 80vh;
  overflow: scroll;
  scrollbar-width:unset;
  overflow-x: hidden;
}
.about-sentence-group::-webkit-scrollbar {
  
}
.about-title {
  font-size: 30px;
  font-weight:700;
}
.about-sentence {
  padding-top: 15px;
}
.about-title-beyond {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.about-title2-beyond {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.about-beyond-holder {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10rem;
}
.about-beyond-flex {
  display: flex;
  gap: 20px;
  
}
.about-beyond-component-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-beyond-subtitleNumber {
  font-size: 2rem;
  font-weight: 600;
}
.about-progressBar {
  max-width: 230px;
  height: 20px;
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
}
.about-subtitle1-beyond {
  font-size: 1.5rem;
}
.about-content1-beyond {
  font-size: 1rem;
  max-width: 350px;
}
.about-subtitle2-beyond {
  font-size: 1.5rem;
}
.about-content2-beyond {
  font-size: 1rem;
  max-width: 350px;
}
.about-subtitle3-beyond {
  font-size: 1.5rem;
}
.about-content3-beyond {
  font-size: 1rem;
  max-width: 350px;
}
.about-holder-title-line {
  display: flex;
  margin: 0 auto;
  max-width: 23rem;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
.about-title-line1 {
  font-size: 3rem;
  color: #4a00e0;
}
.about-title-line2 {
  font-size: 3rem;
}
.about-title-line3 {
  font-size: 3rem;
  color: #4a00e0;
}
.about-line {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  height: 0.15rem;
  position: relative;
  top: -25px;
}
.about-techstacks-flex-holder {
  width: 100%;
  margin: 0 auto;
}
.about-techstacks-flex {
  display: flex;
  margin-top: 4rem;
}
.about-holder-frontend {
  width: 100%;
  height: 100%;
}
.about-title-techstacks {
  font-size: 2rem;
  width: 250px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.holder-icon {
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  background-color: rgb(46, 4, 46);
  padding: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.1s;
}
.holder-icon:hover {
  transform: scale(1.05);
}
.holder-frontend-icons {
  width: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px; 
  gap: 38px;
}
.holder-backend-icons {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px; 
  gap: 38px;
}
.title-icon {
  font-weight: 500;
}
.html {
  background-image: url('../public/html.png');
  width: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.css {
  margin: 0 auto;
  background-image: url('../public/css.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.java {
  margin: 0 auto;
  background-image: url('../public/js.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.react {
  margin: 0 auto;
  background-image: url('../public/react.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-holder-backend {
  width: 100%;
}
.node {
  margin: 0 auto;
  background-image: url('../public/node-js.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.express {
  margin: 0 auto;
  background-image: url('../public/express.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mongodb {
  margin: 0 auto;
  background-image: url('../public/mongodb.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.render {
  margin: 0 auto;
  background-image: url('../public/render.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.restapi {
  margin: 0 auto;
  background-image: url('../public/database.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.router {
  margin: 0 auto;
  background-image: url('../public/router-svgrepo-com.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-holder-techtools {
  margin-top: 10rem;
}
.vs {
  margin: 0 auto;
  background-image: url('../public/vs.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.git {
  margin: 0 auto;
  background-image: url('../public/social.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.github {
  margin: 0 auto;
  background-image: url('../public/github.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills-group {
  width: 10%;
  background: rgba(101, 101, 101, 0.5);
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius: 18px;
  z-index: 10;
  text-align: center;
  padding: 5px;
}
.skills-title {
  font-size: 30px;
  font-weight: 700;
}
.skills-ul {
  list-style: none;
  padding-left: 0;
}
.skills-units:hover {
  
}
.holder-projects {
  align-items: center;
  display: flex;
  top: 10%;
  left: 10%;
  width: 45%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  padding: 25px;
  backdrop-filter: blur(4px);
  z-index: 100;
  position: absolute;
}
.button-previous {
  z-index: 101;
  background-image: url('../public/arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
  filter: invert(1);
  cursor: pointer;
  transform: rotate(180deg);
}
.slides-wrapper {
  width: 100vw;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.slide {
  width: 100%;
}
.title-project1 {
  font-size: 40px;
}
.css-Full-Stack {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color: red;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-React {
  font-size: 15px;
  background-color: rgb(124, 124, 124);
  color: rgb(0, 0, 255);
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-HTML {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color:bisque;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-CSS {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color:blueviolet;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-MongoDB {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color:chartreuse;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-Express {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color:hotpink;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
.css-Router {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color:aqua;
  border-radius: 20px;
  padding: 5px;
  cursor: context-menu;
  font-weight: 700;
}
#git {
  color: white;
  text-decoration: none;
}
#git:hover {
  text-decoration: underline;
}
.content-project1 {
  font-size: 25px;
}
.button-next {
  z-index: 101;
  background-image: url('../public/arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
  filter: invert(1);
  cursor: pointer;
}
.holder-project-skills {
  display: flex;
  gap: 20px;
}
.holder-contact {
  top: 10%;
  left: 25%;
  width: 45%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  padding: 25px;
  backdrop-filter: blur(4px);
  z-index: 100;
  position: absolute;
}
.name-contact {
  font-size: 55px;
  padding: 10px;
}
.email {
  width: 19vw;
  outline: none;
  border-style: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 30px;
  background: rgba(63, 63, 63, 0.5);
  color: white;
  margin: 5px;
}
.title {
  width: 19vw;
  outline: none;
  border-style: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 30px;
  background: rgba(63, 63, 63, 0.5);
  color: white;
  margin: 5px;
}
.content {
  height: 40vh;
  width: 40vw;
  outline: none;
  border-style: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 30px;
  background: rgba(63, 63, 63, 0.5);
  color: white;
  margin: 5px;
  resize: none;
}
.holder-check {
  text-align: right;
}
.check {
  cursor: pointer;
  display: inline-block;
  background-image: url('../public/check.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  filter: invert(0.7);
}
.check:hover {
  filter: invert(0.9);
}
.Top-tag-group{
  font-family: "Bungee Inline", sans-serif;
  text-align: right;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 2%;
  top: 10%;
}
.Top-tag0{
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 3px;
}
.Top-tag1{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 3px;
}
.Top-tag2{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 3px;
}
.Top-tag3{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
}
.Top-tag0:hover, .Top-tag1:hover, .Top-tag2:hover, .Top-tag3:hover {
  color: rebeccapurple;
}
.holder-bottom {
  text-align: center;
  align-items: center;
  position: relative;
  margin-bottom: -56px;
  top: 90vh;
  z-index: 100;
}
.bottom {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 50px;
  margin: 0 auto;
  top: 90vh;
  left: 40vw;
  z-index: 2;
  max-width: 50vw;
  animation: bottomWide 2s ease forwards;
}
.popup-nameAndImg-github {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.popup-name {
  display: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  bottom: 60px;
}
.popup-nameAndImg-github:hover .popup-name {
  display: inline-block;
}
.bottomgit {
  margin: 0 auto;
  background-image: url('../public/github.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Body-title1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.About {
  background-color: rgb(123, 188, 188);
  color: #070707;
  border-radius: 20px;
  padding: 10px;
  
}
.Project {
  
  margin-top: 150px;
  background-color:rgb(83, 80, 77);
  height: 700px;
}
.Body-title2 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.canvas {
  height: 100vh;
  width: 100%;
  z-index: 0;
  /* display: none;  */
 
}
.bugAndLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 280px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
  border-radius: 50px;
  min-height: 650px;
}
.bug {
  margin-top: 30vh;
  background-image: url('../public/icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  animation: bugSpin 1.2s infinite;
}
.loading {
  font-family: "Bitcount Prop Single Ink";
  font-size: 60px;
}

@keyframes bottomWide {
  0% {
    transform: scaleY(20px);
    width: 50px;
    left: calc(50% - 50px); 
    opacity: 0;
  }
  100% {
    transform: scaleY(0px);
    width: 500px;
    left: calc(50% - 250px);  
    opacity: 0.65;
  }
}
@keyframes hand {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes bugSpin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        
        transform: rotate(360deg) scale(1.4);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}
@media (max-width: 1440px) {
  .name-contact {
    font-size: 45px;
  }
  .holder-contact {
    top: 8%;
    left: 20%;
  }
  .email {
    width: 20vw;
  }
  .title {
    width: 20vw;
  }
  .content {
    height: 35vh;
  }
}
@media (max-width: 1130px) {
  .me {
    width: 50px;
    height: 50px;
  }
  .hand {
    width: 30px;
    height: 30px;
    right: 40px;
  }
  .name-contact {
    font-size: 35px;
  }
  .holder-contact {
    top: 8%;
    left: 10%;
  }
  .email {
    width: 20vw;
    font-size: 20px;
  }
  .title {
    width: 20vw;
    font-size: 20px;
  }
  .content {
    height: 35vh;
    font-size: 20px;
  }
}
@media (max-width: 905px) {
  .about-title {
    font-size: 20px;
  }
  .about-sentence {
    font-size: 15px;
  }
  .Top-tag-group {
    font-size: 2px;
  }
  .Top-tag0 {
    font-size: 25px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 40px !important;
  }
  .skills-title {
    font-size: 18px !important;
  }


  .name-contact {
    font-size: 30px;
  }
  .holder-contact {
    top: 8%;
    left: 10%;
  }
  .email {
    width: 20vw;
    font-size: 20px;
    margin: 2px;
  }
  .title {
    width: 20vw;
    font-size: 20px;
    margin: 2px;
  }
  .content {
    height: 35vh;
    font-size: 20px;
    margin: 2px;
  }
}
@media (max-width: 680px) {
   .about-title {
    font-size: 15px!important;
  }
  .about-sentence {
    font-size: 10px;
  }
  .Top-tag-group {
    font-size: 2px;
  }
  .Top-tag0 {
    font-size: 20px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 30px !important;
  }
  .bottom-img-github {
    width: 35px;
    cursor: pointer;
  }
  .skills-img {
    width: 30px;
  }
  .Logo {
    width: 50px;
  }
  .skills-group {
    left: 55% !important;
  }
  .me {
    width: 35px;
    height: 35px;
  }
  .hand {
    width: 20px;
    height: 20px;
    right: 30px;
  }
  .name-contact {
    font-size: 25px;
  }
  .holder-contact {
    top: 8%;
    left: 10%;
  }
  .email {
    width: 20vw;
    font-size: 15px;
  }
  .title {
    width: 20vw;
    font-size: 15px;
  }
  .content {
    height: 35vh;
    font-size: 15px;
  }
}
@media(max-width: 440px){
  .Top-tag0 {
    font-size: 10px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 20px !important;
  }
  .skills-group {
    left: 57% !important;
  }
  .about-title {
    font-size: 12px !important;
  }
  .about-sentence {
    font-size: 7px;
  }
  .canvas {
    width: 10%;
  }
  .skills-title {
  font-size: 15px !important;
}
}
@media (max-width: 340px) {
   .Top-tag0 {
    font-size: 7px !important;
  }
  .Top-tag1, .Top-tag2, .Top-tag3 {
    font-size: 17px !important;
  }
  .loading {
    font-size: 40px;
  }
}